.container {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

.footer {
  text-align: center;
  color: #fff;
}

.footerWrapper {
  background-color: #EF5E3A;
  /* position: relative; */
  width: 96%;
  bottom: 0;
  margin-left: -20px;
  margin-bottom: -55px;
  padding: 50px;
}
