.container {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}

.footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.footerWrapper {
  background-color: #EF5E3A;
  position: relative;
  width: 110%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 70px;
  margin-left: -20px;

}
